{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container" align="center">
    <div class="row bg-light text-muted">
        {% include './frameset_pages/line1.html' %}
    </div>
    <div class="row bg-light text-muted">
        {% include './frameset_pages/line2.html' %}
    </div>
    <div class="row bg-light text-muted">
        {% include './frameset_pages/line3.html' %}
    </div>
</div>
{% endblock %}

{% block head_javascript %}
<script src="https://unpkg.com/vue@2.5.22/dist/vue.js"></script>
<script src="{% static 'vue_style.js' %}"></script>
{% endblock %}