<div class="col-md-12" id="line1_accounts">
	<ul class="nav nav-pills border">
		<li class="nav-item nav-link">
			 {% if show_data.brief_bank.account_names.items %}
			what's left<br>
			<div id="left">
				{{ show_data.brief_bank.whats_left | floatformat:2 }}
			</div>
			{% endif %}
		</li>

		{% for key, value in show_data.brief_bank.account_names.items %}
		<li class="nav-item nav-link text-muted" id="{{ key }}{{ key }}" @click="account_call($event)">

			{{ key }}
			<br>
			    <span id="{{ key }}">
				    {{ value.money__sum | floatformat:2 }}
				</span>

		</li>
		{% endfor %}
	</ul>




















	</ul>

</div>
