<div id="bank_box_line3" class="scroll" style="height:65vh">
	{% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	 	{% endfor %}
	    </ul>
	{% else %}


         {# summary does not update yet #}
        <div id="month_summary_category">
            <font size="1px" class="text-muted">
                <span @click="display_future = !display_future">
                    month summary by category
                </span>
                <span v-show="display_future">
                    <ul class="nav nav-pills border">
                        <summary-tpl
                            v-for="(val, category, index) in {{ summary }}"
                            v-bind:data='{"category": category, "val": val.money__sum}'
                            v-bind:key="index"
                        ></summary-tpl>
                    </ul>
                </span>
            </font>
        </div>

        {# starts Schedule stuff #}
        <div id="vue_schedule_ajax">
            {% if schedule_data.whats_left %}
            <font size="1px" color="purple">
                <span @click="display_future = !display_future">
                schedule next month:
                </span>
                <span id="schedule_whats_left">
                {{ schedule_data.whats_left }}
                </span>
            </font>
            {% endif %}
                <span v-show="display_future">
                        {# color purple means not in #}
                        <all-reg-forms
                                v-for="bills in {{ schedule }}"
                                color="purple"
                                csrf='{{ csrf_token }}'
                                v-bind:data="bills"
                                v-bind:key="bills.pk"
                        ></all-reg-forms>
                </span>

        {# ends Schedule stuff #}
         <br />
            
        {# starts header #}
            <all-reg-forms
                    color=""
                    pk="000"
                    csrf=""
                    v-bind:data='{
                        "fields" : {
                            "date":"",
                            "money":"money",
                            "description":"description",
                            "category":"category",
                            "payment":"payment"
                        }
                    }'
            ></all-reg-forms>
        {# ends header #}
        </div>

        <div id="total">
        <font size="1px">
        <b>Total</b>:
            {% if show_data.form2.query_default.total.money__sum < 0 %}
            <font color="red">
                {{ show_data.form2.query_default.total.money__sum }}
            </font>
            {% else %}
                {{ show_data.form2.query_default.total.money__sum }}

            {% endif %}
        </font>
        </div>

        <div id="vue_ajax">
                {# color "" means extract #}
                <all-reg-forms
                        v-for="bills in {{ extract }}"
                        color=""
                        csrf='{{ csrf_token }}'
                        v-bind:data="bills"
                        v-bind:key="bills.pk"
                 ></all-reg-forms>
        </div>
 {% endif %}
</div>
