<div id="box_line2">
  <table align="left" cellpadding="10">
        <tr>
            {% for key, value in brokerage.items %}
            <td align="center">

                    {{ key }}<br>

                        {% if value < 0 %}
                            <font size="2px" color="red">
                                {{ value | floatformat:2 }}
                        {% else %}
                            <font size="2px">
                                {{ value | floatformat:2 }}
                        {% endif %}
                            </font>


            </td>
            {% endfor %}

            {% for key, value in investdetail.items %}
            <td align="center">

                    <a href="{% url 'investments:details' key %}">
                    {{ key }}<br>
                        <font size="2px">in Details</font>
                    </a>

            </td>
            {% endfor %}

        </tr>
    </table>
</div>
