<div class="scroll" id="vue_ajax">
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	 	{% endfor %}
	    </ul>
	{% else %}
        {# {% for b in show_data.methodget.query_default %} #}
        {# <form @submit.prevent="submitForm($event)" id="{{ b.pk }}"> #}
        {# {% csrf_token %} #}

        <all-reg-forms
                v-for="invest in {{ extract }}"
                csrf='{{ csrf_token }}'
                v-bind:data="invest"
                v-bind:key="invest.pk"
        ></all-reg-forms>
        {# </form> #}
        {# {% endfor %} #}
    {% endif %}
</div>
