{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3 align-self-left">
                <div class="container">
                    {# raw view - method post in it #}
                    {# {% include 'investments/detail_frameset/detail_form1.html' %} #}
                </div>
                <div class="container"></div>
                <div class="container">
                    form a ser implementado<br>
                    esse vem da pag principal de invest
                    {% include 'investments/frameset_pages/form2.html' %}
                </div>
            </div>
            <div class="col-md-9">
                <div class="container">
                    <div class="row">
                    a ser implementado
                    {# {% include 'investments/frameset_pages/line1.html' %} #}
                    </div>
                </div>

		        <div class="container">
                    <div class="row justify-content-center align-center m-0 bg-light">
                        <div id="vue_header">
                            <all-reg-forms
                                    v-bind:key="000"
                                    csrf=""
                                    v-bind:data='{
                                        "fields" : {
                                            "date":"",
                                            "money":"money",
                                            "kind":"kind",
                                            "which_target":"which_target",
                                            "segment":"segment",
                                            "tx_or_price":"tx / price",
                                            "quant":"quant"
                                        }
                                    }'
                                    home_api=''
                                    details_api=''
                            ></all-reg-forms>
                        </div>


                        <div id="vue_ajax_detail">
                            <all-reg-forms
                                    v-for="invest in {{ newinvestmentdetails }}"
                                    csrf='{{ csrf_token }}'
                                    v-bind:data="invest"
                                    v-bind:key="invest.pk"
                                    home_api=''
                                    details_api="{% url 'investments:details_api' 10101010 %}"
                            ></all-reg-forms>
                        </div>
                    </span>
                </div>
            </div>
		</div>
    </div>
</div>
{% endblock %}

{% block head_javascript %}
<script src="https://unpkg.com/vue@2.5.17/dist/vue.js"></script>
{# <script src="https://unpkg.com/axios/dist/axios.min.js"></script> #}
<script src="{% static 'axios.min.js' %}"></script>
{# delete rather than update #}
{# <script src="{% static 'vue_dev_2.6.10.js' %}"></script> #}

<script src="{% static 'investments/vue_templates/line3_template.js' %}"></script>
<script src="{% static 'investments/details_ajax_vue.js' %}"></script>
{% endblock %}